.upload {
    position: absolute;
    width: fit-content;
    height: fit-content;
    min-height: 3em;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .container .row {
        padding: 2%;
    }
}

.logo {
    position: relative;
    width: 20em;
    margin: auto;
    text-align: center;
    border-radius: 3em;
}

.dropdown {
    position: relative;
    width: 60%;
    margin: auto;
    text-align: center;
}

.button {
    position: relative;
    width: 40%;
    height: fit-content;
    min-height: 3em;
    border-radius: 1em;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.progress {
    position: relative;
    text-align: center;
    width: 30%;
    padding:0%;
}
.info {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    cursor: pointer;
}

.row {
    position: relative;
    padding: 2em 5em 2em 5em;
}